<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grin-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>
        <div class="admin-profile">
          <%- include("components/headerAdmin") %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if (msgSuccess) { %>
            <div class="msgSuccess">
              <%= msgSuccess %><a href="/dashboard">X</a>
            </div>
            <% } %>
          </div>
          <h1>Dashboard</h1>
          <div>

          </p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatem ullam qui consequatur explicabo. Pariatur eligendi delectus, repudiandae voluptate eius minus non magni iusto. Iusto vel amet error enim non!
          In rerum odit quidem aliquam dolorum? Earum doloribus doloremque eveniet corrupti. Dolor molestiae, similique quisquam asperiores maxime rerum earum suscipit commodi ab labore quibusdam eos mollitia aperiam praesentium nihil? Sunt?
          Dolorum beatae vitae dolorem magnam, est veniam voluptatibus necessitatibus explicabo, totam nesciunt doloremque perspiciatis ea quas impedit? Minima, quisquam delectus provident illum fuga maiores facilis hic suscipit eaque quia. Et?
          Facilis beatae eius itaque consequatur doloribus rerum voluptas, dolor facere earum eos repellat quis optio doloremque animi similique! Perspiciatis adipisci maiores ullam fuga itaque id delectus ipsam atque ipsum molestias.
          Laudantium sed, totam, enim possimus, vitae quos animi nostrum perspiciatis exercitationem explicabo consectetur minima nihil minus impedit. Suscipit delectus nobis saepe, quo tempore aspernatur at praesentium impedit consequatur asperiores? Adipisci.
          Repellendus facilis soluta vel expedita nihil ut, doloremque itaque at, necessitatibus consequatur possimus amet ipsum commodi ipsa aliquid ad tenetur. Ullam amet commodi consectetur quae totam nihil eligendi mollitia aliquid.
          Cupiditate saepe sint iure magni animi, delectus, tenetur vel architecto quasi, doloribus ipsam nobis error. Doloribus, sit quaerat. Amet obcaecati impedit vero modi nostrum alias laboriosam totam fuga ipsam iusto.
          Voluptates maxime at, culpa dolor esse quae! Necessitatibus inventore quo facere optio quisquam provident iusto pariatur libero animi porro in quibusdam corrupti iste, consectetur voluptates deleniti aliquam tempore nam nulla!
          Ratione, officiis voluptate ducimus debitis consequuntur quae modi tempora in sint ipsa sapiente perferendis ad incidunt quibusdam alias iure labore voluptatibus harum. Numquam nulla at illum? Praesentium laudantium possimus velit.
          Facere cupiditate iste voluptas sequi eos adipisci impedit recusandae a dolor deleniti aperiam illum porro, ducimus sit numquam qui aut tempore minus, vitae exercitationem. Nesciunt maxime similique eaque praesentium cupiditate.
          Nemo, fuga consequuntur ex delectus enim nam. Inventore molestias dolores natus porro ex quae veniam eum rem eius est, amet sunt itaque, quos eaque officiis illo eveniet autem? Quis, obcaecati.
          Quaerat excepturi neque possimus aut, maiores facere, quibusdam cupiditate quis, delectus aliquam quod nihil dolore! In eum recusandae, sit, non veniam illo minima voluptate totam nisi tempora voluptas laboriosam culpa!
          Temporibus porro autem ea, omnis, debitis beatae recusandae rem corrupti nam enim incidunt labore. Reprehenderit ea magni nihil velit! Eos, ducimus facilis. Voluptates aliquid nesciunt eos suscipit fugiat ipsam rem.
          Rem, nemo soluta magnam tempora repellat saepe placeat nisi blanditiis voluptatibus iste architecto quasi vitae consectetur sit earum quam modi velit vero qui repellendus rerum distinctio eveniet! Excepturi, sed nisi.
          Adipisci animi similique perferendis, quis, qui dolorem iure non corrupti quo itaque deleniti, possimus voluptates odit nostrum repellat beatae fugiat et error debitis hic repudiandae consequuntur enim iste obcaecati! Perferendis!
          Soluta, quae ex id dolore consequuntur nemo veritatis porro ut iure error incidunt atque quaerat quisquam quos? Incidunt, facere totam ipsum minima obcaecati quis. Sunt vero dicta quaerat ex iusto!
          Sunt temporibus, a incidunt natus voluptas distinctio non ipsam laboriosam doloribus necessitatibus? Quo tempora tempore fugiat exercitationem. Minima magni nobis quasi pariatur cum blanditiis. Asperiores quis repellendus reprehenderit praesentium veniam.
          Quaerat facere velit provident similique quis pariatur quidem voluptate iusto neque? Error eveniet, dicta expedita eligendi soluta nulla! Consectetur aperiam quod ab totam temporibus ut voluptatibus ad sunt incidunt adipisci.
          Ratione quasi quia, molestiae totam, enim saepe voluptas nisi vitae laboriosam excepturi veniam laborum distinctio numquam! Asperiores dolore est aspernatur inventore reprehenderit delectus, unde repellat maxime magnam veritatis, quod sequi?
          Iure at fuga quibusdam ipsam maiores illum, assumenda provident neque ipsa sit nemo vero delectus incidunt doloribus laudantium quia officiis fugit itaque. Magni distinctio deleniti nam veniam saepe esse possimus.
          Quidem voluptates fugiat consequuntur dolorem maxime magni sapiente obcaecati nihil quam et iure provident vel aperiam explicabo, iusto nam dicta illum molestias eius, voluptas temporibus vitae. Nostrum ad ut dolorum.
          Incidunt error, rerum, tempora accusantium molestiae debitis veniam nemo quas ipsum at minus nostrum voluptate nesciunt excepturi facilis assumenda omnis magnam necessitatibus. Hic delectus consectetur repudiandae eaque quae, ducimus esse?
          Vitae explicabo et magnam pariatur cum maxime sunt inventore dicta porro necessitatibus facilis odit ex ducimus fugiat eos amet maiores, voluptate perspiciatis officiis animi debitis quod rem ipsa! Qui, sequi.
          Harum, dicta ut possimus saepe voluptates ea expedita facilis fuga recusandae veniam accusantium sunt, molestias, debitis aliquam? Soluta obcaecati voluptates dolor perferendis? Omnis dolorem maxime autem voluptate saepe, numquam corrupti!
          Ea, in. Eum, quam suscipit excepturi harum, soluta officiis nam ex qui voluptas ad adipisci alias modi recusandae, cum cumque voluptate ab nostrum magni omnis beatae? Impedit, doloribus itaque! Modi?
          Iste ducimus ipsam adipisci, quis facilis error iure! Distinctio est qui numquam sapiente? Recusandae vitae eum pariatur, fugiat quas voluptatibus eius, adipisci alias natus, aliquid assumenda aut vel praesentium placeat!
          Illo molestiae eligendi sint ut consequuntur distinctio ad? Voluptate excepturi eveniet porro at ut corporis quod ab nemo, a temporibus voluptates, iure, consequuntur earum enim dolorum sint fugit minus cumque?
          Ullam cupiditate dolore fuga assumenda doloribus reprehenderit aliquid deleniti, quam ab eos, quod fugit expedita tempora. Ratione esse accusantium quas, ad deserunt assumenda molestias totam asperiores, perferendis officiis eveniet illum.
          Blanditiis sapiente nemo placeat pariatur voluptas optio similique minus. Eius molestias voluptas nobis minima. Perferendis dolor obcaecati est atque asperiores at. Beatae sit architecto veritatis voluptas dolor temporibus, a veniam.
          Aperiam quo eos temporibus pariatur nesciunt reprehenderit delectus voluptate laborum tempora praesentium, id facere, molestias in veritatis cumque. Amet unde voluptatum quam perferendis enim cum eum, distinctio id voluptatem nesciunt.
          Mollitia vel quis sint natus dignissimos modi excepturi ratione cum libero assumenda, voluptatum officiis, eum iusto placeat odit. Possimus at, incidunt autem sit rerum quibusdam. Molestiae soluta itaque expedita asperiores!
          Impedit dolore, doloribus tempore voluptates placeat dignissimos ratione suscipit nihil quam aperiam obcaecati quae hic omnis nulla quia excepturi laboriosam consequatur corporis magni neque illo, cum veritatis et! Ipsum, molestias?
          Blanditiis accusamus ex reprehenderit vero, animi fugit, voluptatum ea quidem impedit nesciunt id sunt. Quos voluptate asperiores molestias maiores tenetur recusandae, velit illo ipsum modi neque similique dignissimos ex accusantium.
          Voluptatibus laboriosam exercitationem corporis et dolore quisquam fugiat maiores, ducimus eos provident explicabo sunt officiis ut consectetur mollitia vitae nobis est possimus obcaecati, ipsa tempore. Repellendus, cupiditate ex! Aliquid, velit!
          Cum fugit aperiam sequi nemo laudantium quidem dolorum omnis nam magnam consectetur, odit repellat non iste! Error, aut sequi. Ipsa itaque eligendi aspernatur expedita quisquam dolore quaerat distinctio velit ad?
          Omnis cum ipsam possimus nam iste laboriosam, corporis quod neque reprehenderit quia pariatur sapiente eos, vel totam adipisci incidunt veniam exercitationem eum. Delectus sunt autem dolorem, aliquam expedita non animi?
          Nesciunt unde a ratione inventore ex recusandae natus vel iure, necessitatibus expedita voluptas, odio voluptates est. Et dolorem quae incidunt quia ut deleniti adipisci, ea dignissimos impedit cupiditate maxime error!
          Repudiandae est atque tempora aut perspiciatis illum neque minus earum explicabo optio deserunt asperiores, unde nostrum ipsam, sit sunt harum iure facilis architecto excepturi pariatur voluptate quae ratione? Libero, recusandae?
          Fuga nemo officia asperiores numquam explicabo, adipisci sequi quasi illo! Id, laboriosam? Doloremque voluptatibus quasi odit quod dolor officiis alias. Minus cupiditate dolores voluptates neque, praesentium rem enim ipsum! Animi.
          Sint corrupti quia, ut omnis distinctio magnam molestias esse est, nesciunt ad nostrum officia eum cumque porro, itaque adipisci aliquam incidunt mollitia sequi quisquam? Eum iure et quos soluta odio!
          Quae ratione sequi ad voluptas necessitatibus deleniti, non labore id animi ipsa praesentium rerum nobis perferendis temporibus officiis illum. Quidem architecto in tenetur libero autem doloribus ad praesentium enim sapiente?
          Odit modi enim commodi doloribus aperiam distinctio aspernatur odio quod! Quam repudiandae ipsum veritatis, deleniti deserunt ex magnam consectetur. Cupiditate ipsa ut porro mollitia suscipit optio maiores illum vero dolorem!
          Vitae, nostrum eius voluptas quod sed culpa earum voluptates, quasi error repudiandae molestias cum aut ad. Voluptatum nisi quia esse, rerum natus eveniet iure fugiat tempore, minus nihil provident porro.
          Cum porro ut voluptatem animi unde, incidunt dicta obcaecati impedit inventore provident facere beatae laudantium dolore cumque veniam quasi, possimus earum aliquam dolor eos? Perspiciatis quasi nulla voluptates sunt perferendis.
          Nulla magnam esse quisquam, tenetur facere perspiciatis dolore odio repellat harum, neque dolores, eum quod corrupti dolorem sint ut maiores culpa architecto atque nostrum! Nihil animi quaerat provident aliquam ullam!
          Ipsum deserunt distinctio fugit magnam explicabo est modi velit sapiente soluta sint, cumque minima deleniti eos ut repellat ducimus officiis sequi nemo nesciunt quasi dolor illo? Blanditiis autem sequi asperiores.
          Ipsum, recusandae modi a exercitationem, voluptates maxime veniam quibusdam reprehenderit ut illo eos nostrum harum aut! Accusamus sed at in facilis cum? Reiciendis consequatur praesentium, deserunt repellendus amet cumque harum.
          Illum, similique impedit earum tempore sunt necessitatibus numquam in asperiores minima placeat ipsum. Libero provident non beatae eum quis quisquam assumenda reprehenderit, nesciunt pariatur quaerat fugit eveniet optio repellendus autem?
          Quod, incidunt ea saepe temporibus reprehenderit recusandae consectetur omnis totam minima minus, at beatae repellat, inventore provident accusamus repellendus alias! Aut nihil enim quas ad? Animi eius explicabo quis dolores.
          Eos blanditiis quos voluptatem non? Tempore delectus deleniti odio veritatis aliquid voluptatum non unde omnis quasi quia est laborum molestiae quod saepe, consequatur voluptas ipsum, nulla possimus minus. Necessitatibus, optio?</div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
